
body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', 'Helvetica', 'Lucida Grande', Tahoma, 'Droid Sans', sans-serif;
    font-size: 15px;
    background: @color-bg;
    color: @color-text-default;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    margin: 0;
    font-size: 62px;
    color: #33333d;
}

p {
    margin: 0;
    font-size: 19px;
    color: #444;
}

button {
    display: inline-block;

    svg {
        height: 18px;
        width: 18px;
        top: 2px;
        position: relative;
        margin-left: 16px;
        fill: #ffaf4b;
    }

    &:hover {
        .box-shadow( 0px 6px 8px -6px rgba(0, 0, 0, 0.5) );

        svg {
            .animation( arrow .4s alternate infinite );
        }
    }

    &:active {
        .transform( translateY( 1px ) scale( .99 ) );
        .box-shadow( none );
    }

    &:focus {
        outline: none;

        svg {
            .animation( arrow .4s alternate infinite );
        }
    }
}

.fit {
    position: relative;
    width: 100%;
    min-height: 100%;

    @media (min-width: @screen-sm-min) {
        height: 100%;
    }
}

.reverse {
    .transform( rotate( 180deg ) );
}

.square {
    .square( 40px );
}

.backBtn {
    .button-size( 0, 0px, 21px, 2em, 200px );
    .center-block;

    position: absolute;
    top: 40px;
    left: 40px;

    color: #FF9818;
    background: white;
    border: 2px solid white;

    svg {
        margin-left: 0;
        top: -1px;
    }

    &:hover {
        .box-shadow( 0px -6px 8px -6px rgba(0, 0, 0, 0.5) );

        svg {
            .animation( arrow .4s alternate infinite );
        }
    }
    &:active {
        .transform( translateY( 1px ) scale( .99 ) rotate( 180deg ) );
        .box-shadow( none );
    }

    &:focus {
        outline: none;

        svg {
            .animation( arrow .4s alternate infinite );
        }
    }
}
