.cover {
    .cover-transition {
        .transition( transform .4s ease-in );
    }

    &.team {
        .choose {
            .transform( translate3d( -100%, 0, 0 ) );
        }
    }

    width: 100%;
    .background-image( linear-gradient( 160deg, #ffaf4b 0%, #ff920a 100% ) );
    background-size: cover;

    padding: 30px 0px;

    h1 {
        color: #fff;
        text-shadow: 0px 1px 1px rgba( 0, 0, 0, 0.25 );
        font-weight: 300;
        text-align: center;
        margin-top: 40px;
    }

    input {
        .input-size( auto, 0, 25px, 21px, 2em, 200px );
        .center-block;
        .placeholder( #e8ebf2 );

        width: 68%;
        display: inline-block;
        margin-right: 4%;

        color: white;
        background: transparent;
        border: 2px solid white;

        &:focus {
            outline: none;
        }
    }

    .findBtn {
        .button-size( 0, 15px, 21px, 2em, 200px );
        .center-block;

        width: 28%;
        display:inline-block;

        color: #FF9818;
        background: white;
        border: 2px solid white;
    }

    .cover-block {
        .center-block();
        .clearfix();

        position: relative;
        width: 80%;
        max-width: 600px;
        min-width: 480px;
    }
}

h2 {
    text-align: center;
    color: #444;
}

.cols {
    .make-row();
    .clearfix();
}

.col {
    .make-sm-column( 4 );

    img {
        .center-block();
        width: 75%;
    }
}
